@use "/src/styles/mixins" as *;

.container {
  @include md {
    display: flex;
    align-items: stretch;
  }
}

.fake {
  border: 1.6px solid var(--color-grey-1);
  border-left: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 20px;
  background-color: var(--color-teal-3);
  height: 340px;
  width: 100%;
}

.info {
  padding: 30px;
  border: 1.6px solid var(--color-grey-1);
  border-left: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 20px;

  strong {
    display: block;
    @include fontFactory(var(--dm-mono), 30px, 500, var(--color-teal-3), 0, 39px);
    
    > span {
      color: var(--color-teal-2);

      &.space {
        letter-spacing: -0.24rem;
      }
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }
  
  button {
    @include fontFactory(var(--proxima-nova), 16px, 700, var(--color-teal-5), 0.02rem, 1);
    padding: 11px 21px;
    border-radius: 100px;
    background-color: var(--color-ducky);
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.15);
  }
}