@use "/src/styles/mixins" as *;

.container {
  @include lg {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-bottom: 162px;
  }
}

.info {
  padding: 30px;
  border: 1.6px solid var(--color-grey-1);
  border-left: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 20px;

  @include min {
    border: 1.6px solid var(--color-grey-1);
    border-radius: 10px;
    flex-grow: 1;
  }
  @include lg {
    margin-bottom: 0;
    border-radius: 50px 0 0 50px;
    border-width: 5px;
    border-right: none;
    padding: 91px 58px 79px 125px;
  }
  strong {
    display: block;
    @include fontFactory(var(--dm-mono), 30px, 500, var(--color-teal-3), 0, 39px);
    @include lg {
      font-size: 40px;
      line-height: 52.08px;
    }
    > span {
      color: var(--color-teal-2);

      &.space {
        letter-spacing: -0.24rem;
      }
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }
  
  button {
    @include fontFactory(var(--proxima-nova), 16px, 700, var(--color-teal-5), 0.02rem, 1);
    padding: 11px 21px;
    border-radius: 100px;
    background-color: var(--color-ducky);
    box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.15);
  }
  button:hover {
    cursor: pointer;
  }
}