@use "/src/styles/mixins" as *;

.contentOuter {
  border-bottom: 3px solid #ade5e4;
}

.question {
  @include fontFactory(var(--proxima-nova), 24px, 700, white, 0.02rem, 1.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: all 200ms ease;
  padding-top: 27px;
  padding-bottom: 27px;
  max-width: 544px;
  cursor: pointer;
  @include mrwd(991px) {
    font-size: 18px;
    line-height: 1.75;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  h3 {
    margin-right: 12px;
  }
  .plus {
    img,
    svg {
      display: block;
      width: 16.48px;
      height: 16.48px;
      @include mrwd(991px) {
        width: 12.14px;
        height: 12.14px;
      }
    }
    .plusHorizontal {
      position: relative;
    }
    .plusVertical {
      position: absolute;
      top: 0;
      transition: all 200ms ease;
    }
    .plusVerticalOpen {
      transform: rotate(90deg);
    }
  }
}

.answer {
  @include fontFactory(var(--proxima-nova), 16px, 500, white, 0.02rem, 1.75);
  // border-bottom: 3px solid #ade5e4;
  list-style: none;
  max-width: 544px;
  padding-bottom: 27px;
  @include mrwd(991px) {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 15px;
  }
  a {
    color: white;
  }
  strong {
    font-weight: 700;
  }
}
