@mixin fontFactory($fontName, $fontSize, $fontWeight, $fontColor, $letterSpacing, $lineHeight) {
  font-family: $fontName, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}

// 390px, the view that the rest of mobile viewports inherit from
@mixin min {
  @media screen and (min-width: 391px) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

// Custom devices
@mixin mrwd($screen) {
  @media screen and (max-width: $screen) {
    @content;
  }
}

// flex gap polyfill
@mixin cgap($distance) {
  margin-right: -$distance;

  & > * {
    margin-right: $distance;
  }
}

@mixin rgap($distance) {
  margin-top: -$distance;

  & > * {
    margin-top: $distance;
  }
}

// devices with hover enabled (mouse, trackpad)
@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

// devices with no hover capabilities (phone, tablet)
@mixin touch {
  @media (hover: none) {
    @content;
  }
}
