@use "/src/styles/mixins" as *;
.faqContainer {
  padding: 200px 50px;
  background: linear-gradient(0deg, rgba(0, 82, 113, 0) 0%, #005271 100%);
  display: flex;
  justify-content: center;
  @include mrwd(991px) {
    padding: 66px 20px;
  }
  .faqContent {
    border-radius: 20px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    background-color: #005271;
    h2 {
      @include fontFactory(var(--proxima-nova), 50px, 700, white, 0.02rem, 1.2);
    }
    @include mrwd(991px) {
      flex-direction: column;
      padding: 45px 20px 30px 20px;
      min-width: 300px;
      h2 {
        margin-bottom: 40px;
        margin-right: 0;
        font-size: 40px;
      }
    }
  }
}
.question {
  @include fontFactory(var(--proxima-nova), 24px, 700, white, 0.02rem, 1.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid #ade5e4;
  transition: all 200ms linear;
  padding-top: 27px;
  padding-bottom: 27px;
  max-width: 544px;
  cursor: pointer;
  @include mrwd(991px) {
    font-size: 14px;
    line-height: 1.75;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .plus {
    img {
      display: block;
      width: 16.48px;
      height: 16.48px;
      @include mrwd(991px) {
        width: 12.14px;
        height: 12.14px;
      }
    }
    .plusHorizontal {
      position: relative;
    }
    .plusVertical {
      position: absolute;
      top: 0;
      transition: all 200ms linear;
    }
    .plusVerticalOpen {
      transform: rotate(90deg);
    }
  }
}
.openQuestion {
  border-bottom: 3px solid transparent;
}

.answer {
  @include fontFactory(var(--proxima-nova), 16px, 500, white, 0.02rem, 1.75);
  border-bottom: 3px solid #ade5e4;
  list-style: none;
  max-width: 544px;
  padding-bottom: 27px;
  @include mrwd(991px) {
    font-size: 12px;
    line-height: 1.75;
    padding-bottom: 12px;
  }
  a {
    color: white;
  }
  strong {
    font-weight: 700;
  }
}
