@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");


.landing{
    margin: 0;
    padding-right: 125px;
    width: 100vw;

    background: #123041;
    color: #FFFFFF;
    text-align: right;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tagline{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    
    .socialGood{
        color: #9EE7E5;
        font-size: 90px;
        
    }
}

.event{
    font-family: 'Proxima Nova' 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 15px;
    letter-spacing: 0.02em;

    padding-top: 100px;
    .hackdavis{
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.05em;
    }
}

.mainButton{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    padding-top: 60px;
    
    font-weight: 700;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: #FFC53D;

    button {
        border: 0;
        margin: 0;
        padding: 15px 40px;
        // padding: 5% 3%;
        // width:150px;

        background: #FFC53D;
        border-radius: 100px;

        color: #123041;
        font-weight: 700;
        font-size: 18px;
        font-family: 'DM Sans', sans-serif;

    }

    .heartButton{
        padding: 15px 15px 11px 15px;
        margin-left: 15px;
        background: #FFC53D;
        border: 2px yellow solid;
    }
}

.toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: "Yes";
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #f90;
        color: #fff;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: "No";
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .toggle-switch-inner {
        margin-left: 0;
      }
      .toggle-switch-switch {
        right: 0px;
      }
    }
  }

.starterPack{
    padding: 25px 0px 50px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;    
}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 12px;
}

.starterPack a, .calendar a{
    color: #FFFFFF;
    text-decoration: none;

}

.starterPack a, .calendar a:hover {
    border-bottom-color: white;
    transition: border-bottom ease-in-out;
    padding-bottom: 7px;
    border-bottom: 2px solid #FFFFFF;
}

@media screen and (max-width: 800px) {
    .mainSection {
        font-size: 18px;
        // padding: 0;
    }
    .event {
        font-size: 16px;

        .hackdavis {
            font-size: 20px;
        }
    }
    .tagline {
        text-align: left;
        font-size: 30px;

        .socialGood {
            font-size: 45px;
        }
    }

    .mainButton {
        font-size: 18px;
    }
}