@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
// body {
//     font-family: 'DM Sans', sans-serif;
// }

.mainSection{
    margin: 0;
    padding-right: 125px;

    background: #123041;
    color: #FFFFFF;
    text-align: right;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tagline{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    
    .socialGood{
        color: #9EE7E5;
        font-size: 90px;
        
    }
}

.event{
    // font-family:  'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 15px;
    letter-spacing: 0.02em;

    padding-top: 100px;
    .hackdavis{
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.05em;
    }
}

.mainButton{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    padding-top: 60px;
    
    font-weight: 700;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: #FFC53D;

    button {
        border: 0;
        margin: 0;
        padding: 15px 40px;

        background: #FFC53D;
        border-radius: 100px;

        color: #123041;
        font-weight: 700;
        font-size: 18px;
        font-family: 'DM Sans', sans-serif;

    }

    .heartButton{
        padding: 15px 15px 11px 15px;
        margin-left: 15px;
        
    }
}

.starterPack{
    padding: 25px 0px 50px 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;

    > a{
        color: #FFFFFF;
        text-decoration: none;
       

        &:hover {
            border-bottom-color: white;
            transition: border-bottom ease-in-out;
            padding-bottom: 7px;
            border-bottom: 2px solid #FFFFFF;
        }
    }

    
}