.navbarCont {
    background: #123041;
    
}

.navbarItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 11;
}

.hamburger {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 7%;
    background-color: transparent;
}

.badge {
    position: relative;
    margin-left: 5%;
}

.navMenu {
    display: flex;
    flex-direction: column;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: 500ms;
    position: relative;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.5);
    z-index: 10;
}

.navMenu a {
    float: right;
    color: #9ee7e5;
    // text-decoration: none;
}

.navMenu li {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 7%;
}

#closeMenu {
    display: block;
    visibility: none;
}

#openMenu {
    display: none;
    visibility: visible;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}

.normal {
    font-weight: normal;
    text-decoration: none;
}