.container {
  position: sticky;
  top: 0;
  z-index: 3;
}
.desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
