@use "/src/styles/mixins" as *;

.navbarCont {
  background: #023142;
  transition: all 200ms ease-in-out;
  .navbarItems {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 10px 0;
    transition: height 200ms linear;
    .showLogo {
      animation: fadeIn 200ms;
    }
    .badge {
      position: relative;
      top: 10px;
      transition: top 200ms linear;
    }
    .hamburger {
      cursor: pointer;
      background-color: transparent;
      position: relative;
      width: 34px;
      height: 34px;
      .hamburgerMiddle {
        position: absolute;
        top: 0;
        transition: display 200ms ease-in-out;
      }
      .openHamburgerMiddle {
        display: none;
      }
      .hamburgerTop {
        position: absolute;
        top: 0;
        animation: animateTopReverse 200ms ease-in-out 1 normal forwards;
      }
      .openHamburgerTop {
        animation: animateTop 200ms ease-in-out 1 normal forwards;
      }
      .hamburgerBottom {
        position: absolute;
        top: 0;
        animation: animateBottomReverse 200ms ease-in-out 1 normal forwards;
      }
      .openHamburgerBottom {
        animation: animateBottom 200ms ease-in-out 1 normal forwards;
      }
    }
  }
  .navbarItemsOnScroll {
    height: 70px;
  }
}

@keyframes animateTop {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: rotate(-45deg) translateX(2px) translateY(9px);
  }
}
@keyframes animateTopReverse {
  0% {
    transform: rotate(-45deg) translateX(2px) translateY(8px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: none;
  }
}
@keyframes animateBottom {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: rotate(45deg) translateX(-1px) translateY(-8px);
  }
}
@keyframes animateBottomReverse {
  0% {
    transform: rotate(45deg) translateX(2px) translateY(-10px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: none;
  }
}
.removeBadge {
  display: none;
}
.openMenuColor {
  background: var(--color-teal-1);
}
.fadeBackground {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #000000;
  opacity: 0.2;
}
.showShadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
}

.navMenu {
  background: var(--color-teal-1);
  @include fontFactory(
    var(--proxima-nova),
    16px,
    500,
    var(--color-teal-5),
    0.02rem,
    1
  );
  position: absolute;
  width: 100%;
  // transform: translateY(-112px);
  transition: 200ms;
  top: -112px;
  transform: scaleY(1);
  z-index: -1;

  ul {
    text-align: right;
    padding: 20px 40px;
    list-style-type: none;
    li {
      margin-bottom: 30px;
      .selected {
        color: var(--color-teal-5);
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px var(--color-teal-5) solid;
      }

      .unselected {
        font-weight: normal;
        text-decoration: none;
        color: var(--color-teal-5);
      }
    }
  }
}
.navMenuAnimation {
  top: 100px;
  z-index: -2;
}
.navMenuOnScroll {
  top: 70px;
  transition: top 200ms linear;
}
#openMenu {
  display: block;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
