@use "/src/styles/mixins" as *;

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;

  @include lg {
    margin-bottom: 42px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include lg {
    width: 80%;
    margin-left: 32px;
    max-width: 608px;
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #ededed 2px;
  border-radius: 8px;
  padding: 14px 18px;
  text-align: center;
  margin-bottom: 15px;
  
  @include lg {
    flex-direction: row;
    justify-content: center;
    border-width: 5px;
    border-radius: 15px;
    padding: 25px;
    font-size: 24px;
    margin-bottom: 28px;
  }

  svg {
    width: 14px;
    height: auto;
    margin-bottom: 5px;
    
    @include lg {
      width: 18px;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  strong {
    @include fontFactory(var(--proxima-nova), 14px, 700, var(--color-teal-5), 0.02rem, 1.8);

    @include lg {
      font-size: 24px;
      line-height: 1;
    }

    span {
      font-weight: 500;
    }
  }
  
}

.tiles {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  @include rgap(15px);
  @include cgap(15px);
  margin-bottom: 15px;

  @include lg {
    margin-bottom: 25px;
  }

  li {
    width: calc(50% - 15px);
  }

  a {
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px;
    flex-direction: column;
    text-decoration: none;
    @include fontFactory(var(--proxima-nova), 14px, 700, var(--color-teal-5), 0.1rem, 1);
    background-color: var(--color-ducky);
    height: 125px;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 200ms ease-in-out;

    @include lg {
      font-size: 17px;
    }

    @include hover {
      &:hover {
        transform: scale(1.02);
      }
    }

    > svg {
      margin-bottom: 15px;
    }
  }
}

.socials {
  border: solid #ededed 5px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  
  @include lg {
    padding: 25px;
  }
  
  strong {
    @include fontFactory(var(--proxima-nova), 16px, 700, var(--color-teal-5), 0.02rem, 1.5);

    @include lg {
      font-size: 24px;
    }
  }
  
  p {
    @include fontFactory(var(--proxima-nova), 14px, 500, var(--color-teal-5), 0.02rem, 1.5);
    margin-bottom: 10px;

    @include lg {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
  
  .links {
    display: flex;
    @include cgap(20px);
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    .icon {
      display: inline-block;
      color: black;
      height: 30px;
      width: 30px;

      @include lg {
        height: 30px;
        width: 30px;
      }

      > svg {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

        @include hover {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
