.container {
  position: relative;
  // animation: backAndForth 10s infinite ease-in-out;

  > * {
    position: absolute;
    pointer-events: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  // large
  > :first-child {
    width: 779px;
    // visibility: hidden;
  }
  
  // medium 1
  > :nth-child(2) {
    visibility: hidden;
  }
  
  // medium 2
  > :nth-child(3) {
    fill: var(--color-teal-3);
  }

  // small
  > :nth-child(4) {
    visibility: hidden;
  }
}

@keyframes backAndForth {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translate(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}
