@use "/src/styles/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@keyframes wave {
  0% {
    transform: rotate(-0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-0deg);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes vertical-replace {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0px);
  }
  90% {
    opacity: 0;
    transform: translateY(-20px);
  }

  // 80% {
  //   opacity: 1;
  //   transform: translateY(0);
  // }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.mainAnimationSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;
  max-width: 1290px;
  margin: auto;
  padding-right: 64px;

  @include mrwd(1190px) {
    justify-content: flex-end;
  }

  @include mrwd(991px) {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.landing {
  display: flex;
  position: relative;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 470px;
  max-width: 470px;
  padding-bottom: 41px;

  @include mrwd(991px) {
    margin-left: 0;
    min-width: 0;
    padding-bottom: 0;
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  // z-index: 100;

  @include mrwd(991px) {
    flex-direction: column-reverse;
  }
}

.tagline {
  @include fontFactory(var(--proxima-nova), 40px, 700, white, 0.02rem, 1.15);
  margin-bottom: 58px;

  .socialGood {
    display: inline-block;
    letter-spacing: 0.02rem;
    color: #9ee7e5;
    font-size: 90px;
  }

  .for {
    opacity: 0.5;
    margin: 10px;

    position: absolute;
    left: 30%;

    @include lg {
      right: 30%;
    }
  }
  @include mrwd(991px) {
    font-size: 30px;
    text-align: left;
    margin-bottom: 43px;

    .socialGood {
      font-size: 45px;
      text-align: left;
    }
  }
}

.event {
  margin-bottom: 58px;

  @include mrwd(991px) {
    margin-bottom: 85px;
  }
}

.hackdavis {
  @include fontFactory(var(--proxima-nova), 30px, 300, white, 0.05rem, 1);
  text-transform: uppercase;
  margin-bottom: 15px;

  b {
    font-weight: 700;
  }

  @include mrwd(991px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  svg {
    width: 20px;
    height: auto;
    margin-right: 15px;
  }

  @include mrwd(991px) {
    svg {
      width: 13px;
      height: auto;
      margin-right: 12px;
    }
  }

  strong {
    @include fontFactory(var(--proxima-nova), 24px, 400, white, 0.02rem, 1);

    a {
      color: white;
      text-decoration: none;
      transition: border-bottom 200ms linear;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
    }
    a:hover {
      border-bottom-color: white;
      border-bottom: 2px solid #ffffff;
    }

    @include mrwd(991px) {
      font-size: 16px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 26px;

  @include mrwd(991px) {
    // padding-top: 43px;
  }
}

.yellowButton {
  @include fontFactory(var(--proxima-nova), 20px, 700, var(--color-teal-5), 0.02rem, 1);
  display: block;
  padding: 15px 40px;
  text-decoration: none;
  text-align: center;
  background-color: #ffc53d;
  border-radius: 100px;
  margin-right: 28px;
  filter: drop-shadow(0px 9px 75px rgba(0, 0, 0, 0.75));

  @include mrwd(991px) {
    padding: 11px 20px;
    font-size: 18px;
    margin-right: 18px;
  }
}

.sponsorButton {
  @include fontFactory(var(--proxima-nova), 20px, 700, var(--color-ducky), 0.02rem, 1);
  background: #ffc53d28;
  transition: background 200ms ease flex-direction 200ms ease;
  color: var(--color-ducky);
  width: fit-content;
  padding: 14px 20px 15px 60px;
  border-radius: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: relative;
  text-decoration: none;

  @include mrwd(991px) {
    font-size: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.sponsorButton:hover {
  cursor: pointer;
  background: #ffc53d;
  width: fit-content;
  border-radius: 100px;
  color: #122F40;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 14px 60px 15px 20px;

  @include mrwd(991px) {
    padding: 11px 60px 11px 20px;
  }

  // transition: 0.4s;
  .heartButton {
      transform: translateX(108px);

      @include mrwd(991px) {
        transform: translateX(110px);
      }
  }
}

.heartButton {
  padding: 16px 14px 9px 14px;
  // margin-left: 15px;
  background: #ffc53d;
  opacity: 1;
  border-radius: 100px;
  left: 0;
  // filter: drop-shadow(0px 9px 75px rgba(0, 0, 0, 0.75));
  box-shadow: 0px 9px 75px rgba(0, 0, 0, 0.75);

  // border: 2px yellow solid;
  position: absolute;
  transition: transform 400ms;

  @include mrwd(991px) {
    padding: 11px 9px 6px 10px;
  }
}

.starterPack {
  @include fontFactory(var(--proxima-nova), 18px, 400, white, 0.02rem, 1);

  strong {
    font-weight: 700;
  }

  a {
    color: white;
    text-decoration: none;
    transition: border-bottom 200ms;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    &:hover {
      border-bottom-color: white;
      border-bottom: 2px solid #ffffff;
    }

    @include mrwd(991px) {
      display: inline-block;
      margin-top: 7px;
    }
  }

  @include mrwd(991px) {
    padding-bottom: 0;
    align-self: end;
    max-width: 286px;
    font-size: 16px;
  }
}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  border: 2px solid red;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

// @media screen and (min-width: 1200px) {
//     .container2 {
//         margin-left: auto;
//     }
// }

// @media screen and (max-width: 1400px) {
//     // .cowConeContainer {
//     //     margin-bottom: -18%;
//     // }

//     .cowHandAnimate {
//         left: 53%;
//     }
//     // .container2 {
//     //     margin-left: ;
//     // }
// }
// @media screen and (max-width: 800px) {
//     .landing {
//         // padding: 0 40px;
//         justify-content: space-between;
//         flex-direction: column;
//     }

//     .cowCone {
//         // width: 100%;
//         position: relative;
//         // max-width: 100%;
//         //margin-right: 100px
//     }

//     .cowConeContainer {
//         align-items: flex-start;
//         // margin-bottom: -19vmin;
//         // margin: -15% 10% -25% -10%;
//         //margin-right: auto;
//         padding-right: 5%;
//         //margin-left: auto;
//     }

//     .cloud {
//         width: 100%;
//     }

//     .cloudBg {
//         bottom: 15%;
//         height: 100%;
//         left: 0%;
//         bottom: 0;
//         width: 100%;
//     }

//     .mainAnimationSection {
//         // display: flex;
//         flex-direction: column-reverse;
//         justify-content: flex-start;
//         margin: 0;
//         overflow: visible;
//     }

//     .cowHandAnimate {
//         left: 49%;
//     }

//     .landing {
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;

//         margin-left: auto;
//         padding: 0 40px;
//         // margin: 0 20px 0 0;
//     }

//     .mainSection {
//         display: flex;
//         flex-direction: column;
//         font-size: 18px;
//         // justify-content: flex-end;
//         align-items: flex-end;
//     }
//     .event {
//         font-size: 16px;
//         padding-top: 45px;

//         .hackdavis {
//             margin-bottom: 0px;
//             font-size: 20px;
//         }
//     }
//     .tagline {
//         text-align: left;
//         align-self: flex-start;
//         font-size: 30px;
//         padding-top: 85px;

//         .socialGood {
//             font-size: 45px;
//         }
//     }

//     .container2 {
//         margin-left: default;
//     }

//     .mainButton {
//         font-size: 17px;
//         flex-direction: row;
//         justify-content: flex-end;
//         padding-top: 40px;
//     }

//     .yellowButton {
//         padding: 12px 20px;
//         font-size: 17px;
//         min-width: fit-content;
//     }

//     .fadedButton {
//         gap: 10px;
//         font-size: 17px;
//     }

//     .sponsorButton {
//         gap: 10px;
//         font-size: 17px;
//     }

//     .heartButton {
//         padding: 13px 13px 6px 13px;
//         // padding: 15px 15px 11px 15px;
//     }
// }
